<div class="hero">
  <div class="container">
    <h2>Interstellar</h2>
    <p>Former NASA pilot Cooper (Matthew McConaughey) and a team of researchers travel across the galaxy to find out which of three planets could be mankind's new home.</p>
    <a href="#">Read More</a>
  </div>
</div>

<div class="main">
  <div class="container">
  <h2>Popular Films</h2>

    <!--
    To do: Loop through movies and display each one with this HTML

      movie image goes here
      <h3> movie title goes here </h3>
      <p> movie release year goes here </p>
    </div>
    -->
    <%= @movies.each do |m| %>
      <div class="movie">
        <img src="<%= m.image %>">
        <h3><%= m.title %></h3>
        <p><%= m.release_year %></p>
        <p><%= m.plot %></p>
          <%= link_to "Learn More", movie_path(m) %>
      </div>
    <% end %>
  </div>
</div>
